header {
	background-color: #F0F8FF;
	background-image: url("../img/dog-header.png");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding: 140px 0 100px; 
}
@media (min-width: 576px){
	header{
		padding: 200px 0;
	}
}
.first-section{
	background-color: white;
}
.section {
	padding: 60px 0 40px
}
li{
	margin-bottom: 08px;
}
ul{
	background-color: #ADD8E6;
}
body {
	color: #4a4a4a;
}
.first-section img {
	margin-bottom: 35px;
}
@media (min-width: 768px) {
	.first-section img {
		margin-bottom: 20px;
	}
}
@media (min-width: 992px) {
	.first-section img {
		margin-bottom: 0;
	}
}
h1 {
	color: #000000
	font-size:36px;
}
@media (min-width: 576px)  {
	h1 {
		font-size: 48px;
	}
}
@media (min-width: 576px) {
	.section {
		padding: 100px 0
	}
}
.second-section {
	background-color: #FBFBFB
}
.second-section p {
	color: #9DA2A6;
}
.second-setion img {
	height: 75px;
	margin: 25px 0 10px;
	width: 75px;
}